.bracket-container {
    background-color: #222;
    padding: 30px; /* Aumenta lo spazio intorno */
    border-radius: 10px;
  }
  
  .seed {
    font-size: 20px; /* Testo più grande */
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid yellow; /* Bordo giallo */
  }
  
  .seed-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .seed-team {
    padding: 10px;
    margin: 5px;
    background-color: #444;
    color: yellow; /* Testo giallo */
    font-weight: bold;
    font-size: 18px;
    border: 3px solid yellow; /* Bordo giallo */
    border-radius: 8px;
    cursor: pointer;
  }
  
  .seed-team:hover {
    background-color: #666;
    color: black;
  }